/*********************/
/** jRating CSS **/
/*********************/

/**Div containing the color of the stars */
.block_course_rating .jRatingAverage {
    background-color: #f62929;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
}
.block_course_rating .jRatingColor {
    background-color: #f4c239; /* bgcolor of the stars*/
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
}

/** Div containing the stars **/
.block_course_rating .jStar {
    position: relative;
    left: 0;
    z-index: 3;
}

.block_course_rating .rating_error {
    color: #f62929;
}