/* Custom CSS
-------------------------*/
a.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.dir-rtl a.logo {
    background: url([[setting:logo]]) no-repeat 100% 0;
    display: block;
    float: right;
}

#page-navbar .breadcrumb-nav {
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05) X;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05) X;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05) X;
    background-color: #F5F5F5;
    float: left;
    margin-bottom: 10px;
}

#page-navbar .singlebutton div {
    margin-right: 0;
}

.breadcrumb-button {
    padding-top: 0px;
}

ul.breadcrumb, .breadcrumb {
    background-color: transparent;
    margin: 0px;
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
